@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
}

li, a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    /* TODO: Stye & fix hero layout, buttons etc*/
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.heading {
    font-family: 'Newsreader', serif;
    font-size: 28px;
    font-weight: 700;
    color: #965454; 
    position: absolute;
    width: 600px;
    height: 128px;
    left: 143px;
    top: 284px;
}

.subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000;
    position: absolute;
    width: 390px;
    height: 84px;
    left: 143px;
    top: 440px;
    line-height: 42px;
}

.hero-btn-1 {
    
    position: absolute;
    width: 146px;
    height: 56px;
    left: 143px;
    top: 552px;
    border-radius: 15px;
    color: #1E5CA6;
/* TODO: Finish styling both buttons */
}

.hero-btn-2 {
    position: absolute;
    width: 146px;
    height: 56px;
    left: 323px;
    top: 552px;
    color: #fff;
    background: #1E5CA6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}