@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Google Font
    font-family: 'Poppins', sans serif;
    font-family: 'Newsreader', serif;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    max-width: 1140px;
    height: 60vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
    margin-bottom: 100px;
}

.menu a {
    color: #000;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', serif;
    font-size: 18px;
    font-weight: 500;
}

.menu a:hover {
    color: #0088a9;
}
.logo {
    cursor: pointer;
}

.heading {
position: absolute;
width: 670px;
height: 128px;
left: 143px;
top: 284px;
font-family: 'Newsreader', serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 64px;
color: #965454;
}
.subheading {
    position: absolute;
width: 446px;
height: 84px;
left: 143px;
top: 440px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 30px;
color: #000000;
}

.cta-btn-1 {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 5px solid #1E5CA6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #1E5CA6;
  font-weight: 500;
  /* Button 1 Position */
  box-sizing: border-box;
  position: absolute;
  left: 143px;
  top: 530px;
}

.cta-btn-1:hover {
    color: #abc2dd;
    border: 5px solid #4385d4;  
}

.cta-btn-2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #1E5CA6;
    /* Button 2 Position */
    box-sizing: border-box;
    position: absolute;
    left: 323px;
    top: 530px;
}

.cta-btn-2:hover {
    background-color: #4385d4;
}

.hero-image {
    float: right;
    padding: 0 20px 20px 0;
}

.card-1 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 350px;
    left: 139px;
    top: 491px;
}
.card__image-5{
    flex:0 0 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}
.card__image-1,
.card__image-2, 
.card__image-3,
.card__image-4,
.card__image-6 {
    flex: 0 0 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.card__snippet-1, 
.card__snippet-2, 
.card__snippet-3,
.card__snippet-4,
.card__snippet-5,
.card__snippet-6 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 10px;
}

.card__title-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #9A0479;
    text-align: center;
}

.card-2 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 380px;
    left: 591px;
    top: 491px;
}

.card__title-2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #965454;
    text-align: center;
    width: 200px;
    margin: auto;
}

.card-3 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 380px;
    left: 1043px;
    top: 491px;
}

.card__title-3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #C1AE00;
    text-align: center;
    width: 200px;
    margin: auto;
}

.card__title-4 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #C60077;
    font-weight: 500;
    text-align: center;
    width: 200px;
    margin: auto;
}

.card-4 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 380px;
    left: 139px;
    top: 491px;
}

.card-5 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 380px;
    left: 591px;
    top: 491px;
}

.card-6 {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    width: 330px;
    height: 380px;
    left: 1043px;
    top: 491px;
}

.card__title-5 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #882100;
    font-weight: 500;
    text-align: center;
    width: 200px;
    margin: auto;
}

.card__title-6 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #C15D00;
    font-weight: 500;
    text-align: center;
    width: 200px;
    margin: auto; 
}

.header {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 266px;
    top: 318px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000;
}
.str-1 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 155px;
    top: 436px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.span-1 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 155px;
    top: 490px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.str-2 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 368px;
    top: 436px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.span-2 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 368px;
    top: 490px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;   
}

.str-3 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 550px;
    top: 435px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.span-3 {
    position: absolute;
    width: 137px;
    height: 90px;
    left: 550px;
    top: 490px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

li {
    list-style-type: none;
}

.row-img {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 760px;
    top: 191px;
}

.ingredientsText {
    position: absolute;
    width: 229px;
    height: 60px;
    left: 301px;
    top: 1110px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.ingredientsList {
    position: absolute;
    width: 442px;
    height: 531px;
    left: 283px;
    top: 1227px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color: #476F9E;
}

.instructionsText {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1871px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.step-1 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2090px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

 .text-1 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2345px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2410px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-3 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2650px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-3 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2750px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-4 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2940px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-4 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 3020px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.top {
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(274.81deg, #C60077 8.46%, rgba(198, 0, 119, 0.31) 117.06%);
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    /* Button 2 Position */
    box-sizing: border-box;
    position: absolute;
    left: 681px;
    top: 3340px;
}

.header-2 {
    position: absolute;
    width: 600px;
    text-align: center; 
    height: 60px;
    left: 110px;
    top: 318px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000;
}

.ingredientsText-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1100px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.instructionsText-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2090px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.step-1-1 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2220px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-1-1 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-5 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 3200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-5 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 3300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.top-2 {
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(274.81deg, #b34d12 8.46%, rgba(133, 78, 6, 0.31) 117.06%);
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    /* Button 2 Position */
    box-sizing: border-box;
    position: absolute;
    left: 681px;
    top: 3700px;
}

.instructionsText-3 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1480px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.step-1-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1650px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-1-2 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1760px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-1-3 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 1900px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-1-3 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2000px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-1-4 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-1-4 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.step-1-5 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2500px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.text-1-5 {
    position: absolute;
    width: 945px;
    height: 954px;
    left: 281px;
    top: 2600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A90B7;
}

.top-3 {
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(274.81deg, #b2dc08 8.46%, rgba(244, 224, 2, 0.642) 117.06%);
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    /* Button 2 Position */
    box-sizing: border-box;
    position: absolute;
    left: 681px;
    top: 2900px;
}