@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Google Font
    font-family: 'Poppins', sans serif;
    font-family: 'Newsreader', serif;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1140px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
    margin-bottom: 100px;
}

.menu a {
    color: #000;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', serif;
    font-size: 18px;
    font-weight: 500;
}

.menu a:hover {
    color: #0088a9;
}
.logo {
    cursor: pointer;
}

.heading {
position: absolute;
width: 670px;
height: 128px;
left: 143px;
top: 284px;
font-family: 'Newsreader', serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 64px;
color: #965454;
}
.subheading {
    position: absolute;
width: 446px;
height: 84px;
left: 143px;
top: 440px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 30px;
color: #000000;
}

.cta-btn-1 {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 5px solid #1E5CA6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #1E5CA6;
  font-weight: 500;
  /* Button 1 Position */
  box-sizing: border-box;
  position: absolute;
  left: 143px;
  top: 530px;
}

.cta-btn-1:hover {
    color: #abc2dd;
    border: 5px solid #4385d4;  
}

.cta-btn-2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #1E5CA6;
    /* Button 2 Position */
    box-sizing: border-box;
    position: absolute;
    left: 323px;
    top: 530px;
}

.cta-btn-2:hover {
    background-color: #4385d4;
}

.hero-image {
    float: right;
    padding: 0 20px 20px 0;
}